header {
  background: #111;
  color: #fff;
  padding: 15px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header a {
  color: white;
  margin-left: 15px;
  text-decoration: none;
}
