.register-page {
  min-height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;

}

.register-card {
  width: 380px;
  background: #ffffff;
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.08);
}

.register-card h2 {
  text-align: center;
  margin-bottom: 5px;
}

.register-subtitle {
  text-align: center;
  font-size: 14px;
  color: #777;
  margin-bottom: 25px;
}

.register-input-group {
  display: flex;
  align-items: center;
  border: 1px solid #ddd;
  padding: 10px 12px;
  border-radius: 8px;
  margin-bottom: 15px;
}

.register-input-group i {
  color: #999;
  margin-right: 10px;
}

.register-input-group input {
  border: none;
  outline: none;
  width: 100%;
  font-size: 14px;
}

.register-btn {
  width: 100%;
  padding: 12px;
 background: linear-gradient(135deg, #e53935, #d32f2f);
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 15px;
  cursor: pointer;
}



.register-footer {
  margin-top: 18px;
  text-align: center;
  font-size: 14px;
}

.register-footer button {
  background: none;
  border: none;
  color: red;
  cursor: pointer;
  margin-left: 5px;
  font-weight: 600;
}
